[submodule "wakanda-extension-web-editor"]
	path = wakanda-extension-web-editor
	url = git://github.com/Wakanda/wakanda-extension-web-editor.git
[submodule "Preferences"]
	path = Preferences
	url = https://github.com/Wakanda/Preferences
